<!doctype html>
<html>
	<head>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
	</head>
	<body ng-app="search">
		<div class="main" ng-controller="controller">
			<div>
				<label><input type="checkbox" ng-model="funds-check"> 
					Funds
				</label>
				<label><input type="checkbox" ng-model="transactions-check"> 
					Gift Transactions
				</label>
				<br>
				<input type="text"></input>
				<input type="submit" value="Search"></input>
			</div>

			<div class="results">
				<div class="transactions" ng-show="transactions-check">
					<div ng-show="funds-check && transactions-check">
						<h1>Transactions:</h1>
					</div>
					<div ng-repeat="transaction in results1">
						<p>{{ transaction.title }}</p>
						<p>{{ transaction.description }}</p>
					</div>
				</div>
				<div class="funds" ng-show="funds-check">
					<div ng-show="funds-check && transactions-check">
						<h1>Funds:</h1>
					</div>
					<div ng-repeat="fund in results2">
						<p>{{ fund.title }}</p>
						<p>{{ fund.description }}</p>
					</div>
				</div>
			</div>
		<div>
		
		<script src="app.js"></script>
		<script src="search.js"></script>
		<script src="funds.js"></script>
		<script src="transactions.js"></script>
	</body>
</html>